
/* reset Classes */

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    font-size: 15px;
    font-family:  'Roboto', sans-serif;
}

button{
        text-align: center;
        font-weight: 500;
        font-size: 15px;
        border: none;
        cursor:pointer;
         background-color: rgb(248, 248, 248);
}


/* Utility Classes  */

.p-5{
    padding: 8px;
}




/* custom classes */

#calculator-body{
    background-color: rgb(240, 240, 240);
}


#main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}


#display-screen-text{
    text-align: right;
    font-size: xx-large;
    margin: 0;
    padding: 20px 10px;
}

#degree-section{
    display: flex;
}


.degree-section-item{
    padding: 0px 15px;
    font-weight: 500;
}

#memory-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
}

.third-row{
    display: flex;
    padding-bottom: 8px;
    font-weight: 300;
}

.third-row-div{
    display: flex;
    align-items: center;
}

.third-row-div * {
   padding: 0 2px;
}


.main-features{
    display: grid;
    gap: 3px ;
    grid-template-columns: repeat(5,1fr);
}


.feature-item{
    height: 40px;
    width: 60px;
}

.feature-item[data-number]{
    font-weight: 500;
    background-color: white;
}

.feature-item[data-result]{
    background-color: rgb(72, 188, 255);
}

.feature-item[data-result]:hover{
    background-color: rgb(130, 209, 255);
}

.feature-item:hover{
    background-color: rgb(235, 235, 235);
}




